<div calss="show">

<h2>
    Activity: <%= @activity.title %>   
</h2>
<p>Created by: <em><%= @activity.user.name %></em></p>

<%= form_with model: @booking, local:true do |f| %>
        <%= f.hidden_field :activity_id, value: @activity.id %>
        
      <%= f.submit 'Book Activity' %>
    <% end %>

<h4>Category: <% @activity.categories.each do |category| %>

<%= link_to category.name, category_path(category) %>
<% end %>
</h4>

<% if @current_user.present? && @current_user.id == @activity.user_id %>
<%= link_to 'Edit', edit_activity_path(@activity) %>
|
<%= link_to 'Delete', activity_path(@activity.id), method: 'delete' %>
<% end %>
<hr>

<p>
<strong>Address: </strong>
<%= @activity.in_location%>
</p>

<p>
<strong>Time:</strong>
<%= @activity.takeplace_time.strftime '%A %e %b, %Y %l:%M%P '%>
</p>

<p>
<strong>Description:</strong>
<%= @activity.description%>
</p>

<% if @activity.image.present? %>
    <%= cl_image_tag @activity.image, alt: @activity.title, width: 300, height: 300 %>

<% end %>

<button class="like" type="button" onClick="onClick()"><a id="clicks"></a> Like! </button>


<p>Comments:</p>
    <% @activity.comments.where(comment_id:nil).each do |comment| %>
        <em><%= comment.user.name %></em>: <%= comment.body %> 
    <br>
        <% comment.comments.each do |reply| %>
        <em>Replied by <%= reply.user.name %></em>: <%= reply.body %><br>

        <% end %>


        <%= form_with model: @comment, local: true do |f|%>
        <%= f.hidden_field :comment_id,  value: comment.id %>
        <%= f.hidden_field :activity_id, value: @activity.id %>

        
        <input type="button" name="answer" value="Reply" onclick="reply()" />
        <div id="reply"  style="display:none;" class="reply">
        <%= f.label 'Reply' %>
        <br>
        <%= f.text_area :body %>
        <br>
        <%= f.submit 'Submit' %>
        </div>
        <% end %>          
        <br>
    <% end %>
    <%= form_with model: @comment, local:true do |f| %>
        <%= f.hidden_field :activity_id, value: @activity.id %>
        <%= f.label 'New comment:' %>
        <br>
        <%= f.text_area :body %>
        <br>
      <%= f.submit 'Submit' %>
    <% end %>
</div>