<h2>
    Activity: <%= @activity.title %>
</h2>

<h4>Category: <% @activity.categories.each do |category| %>

<%= link_to category.name, category_path(category) %>
<% end %>
</h4>

<% if @current_user.present? && @current_user.id == @activity.user_id %>
<%= link_to 'Edit', edit_activity_path(@activity) %>
|
<%= link_to 'Delete', activities_path, method: 'delete' %>
<% end %>
<hr>

<p>
<strong>Address: </strong>
<%= @activity.in_location%>
</p>

<p>
<strong>Time:</strong>
<%= @activity.takeplace_time%>
</p>

<p>
<strong>Description:</strong>
<%= @activity.description%>
</p>


<p>Comments:</p>
    <% @activity.comments.where(comment_id:nil).each do |comment| %>
        <em><%= comment.user.name %></em>: <%= comment.body %> 

        <% comment.comments.each do |reply| %>
        <div class="reply"> <%= reply.body %></div>

        <% end %>


        <%= form_with model: @comment, local: true do |f|%>
        <%= f.hidden_field :comment_id,  value: comment.id %>
        <%= f.hidden_field :activity_id, value: @activity.id %>
        <%= f.label 'Reply:' %>
        <br>
        <%= f.text_area :body %>
        <br>
        <%= f.submit 'Submit' %>

        <% end %>
       
            
        <br>
    <% end %>
    <%= form_with model: @comment, local:true do |f| %>
        <%= f.hidden_field :activity_id, value: @activity.id %>
        <%= f.label 'New comment:' %>
        <br>
        <%= f.text_area :body %>
        <br>
      <%= f.submit 'Submit' %>
    <% end %>